#login_jumbotron{
  margin-top: 150px;
}
.brand{
  width: 50px;
}
.table-hover > tbody > tr:hover {
    background-color: #f7f994;
}
.well-info{
  background-color:rgba(73, 172, 202, 0.38);
}
.well-success{

}
.well-danger{

}
.well-warning{
  
}
