#login_jumbotron{
  margin-top: 150px;
}
.brand{
  width: 50px;
}
.table-hover > tbody > tr:hover {
    background-color: #f7f994;
}
.grey-text{
  color: #888888;
}
.panel_info{
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel_success{
  border-color: #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel_warning{
  border-color: #faebcc;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel_error{
  border-color: #ebccd1;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
